# Maven build output
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
## STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
.vscode/

# Vaadin: generated frontend + tooling
/frontend/generated/
/node_modules/
/package-lock.json
/pnpm-lock.yaml
/.npm/
/.npmrc
/.nvmrc
/.vaadin/

# Vite / Webpack / Dev Server Cache
/.vite/
vite.config.ts
webpack.generated.js
